/* Our CSS file. */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/**** EPISODE ****/

.episode {
  display: grid;
  grid-template-columns: 70px 1fr;
  background-color: white;
}

.episode__button {
  display: grid;
  background-color: rgb(65, 169, 204);
}

.episode__icon {
  align-self: center;
  justify-self: center;
  width: 20px;
}

.episode__content {
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr auto;
  row-gap: 25px;
  column-gap: 25px;
}

.episode__title {
}

.episode__date {
}

.episode__description {
  grid-column-start: 1;
  grid-column-end: 3;
}


/**** EPISODE LIST ****/

.episode_list {
  border-radius: 3px;
}

.episode_list__episode {
  display: grid;
  grid-template-columns: 70px 1fr auto;
  background-color: white;
}

.episode_list__button {
  display: grid;
  background-color: rgb(65, 169, 204);
}

.episode_list__icon {
  width: 20px;
  justify-self: center;
  align-self: center;
}

.episode_list__content {
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 25px;
}

.episode_list__info {
}

.episode_list__number {
  margin-right: 8.5px;
}

.episode_list__date {
  align-self: center;
}