:root {
  --background-white: rgb(255, 255, 255);
  --background-blue: rgb(65, 169, 204);

  --drop-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  --standard-gap: 25px;
}

/* Our CSS file. */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/**** EPISODE ****/

.episode {
  display: grid;
  grid-template-columns: 70px 1fr;
  background-color: var(--background-white);
  border-radius: 5px;
  box-shadow: var(--drop-shadow);
  overflow: hidden;
}

.episode__button {
  display: grid;
  background-color: var(--background-blue);
}

.episode__icon {
  align-self: center;
  justify-self: center;
  width: 20px;
}

.episode__content {
  padding: var(--standard-gap);
  display: grid;
  grid-template-columns: 1fr auto;
  row-gap: var(--standard-gap);
  column-gap: var(--standard-gap);
}

.episode__description {
  grid-column-start: 1;
  grid-column-end: 3;
}

.episode__number {
  margin-right: 8.5px;
}


/**** COMPACT EPISODE VARIANT ****/

.episode--compact {
  border-radius: 0px;
  box-shadow: none;
}

.episode--compact .episode__description {
  display: none;
}


/**** EPISODE LIST ****/

.episode_list {
  border-radius: 3px;
  box-shadow: var(--drop-shadow);
  overflow: hidden;
}
