/* Our CSS file. */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/**** EPISODE ****/

.episode {
  display: grid;
  grid-template-columns: 70px 1fr;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  overflow: hidden;
}

.episode__button {
  display: grid;
  background-color: rgb(65, 169, 204);
}

.episode__icon {
  align-self: center;
  justify-self: center;
  width: 20px;
}

.episode__content {
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr auto;
  row-gap: 25px;
  column-gap: 25px;
}

.episode__description {
  grid-column-start: 1;
  grid-column-end: 3;
}

.episode__number {
  margin-right: 8.5px;
}


/**** COMPACT EPISODE VARIANT ****/

.episode--compact {
  border-radius: 0px;
  box-shadow: none;
}


/**** EPISODE LIST ****/

.episode_list {
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  overflow: hidden;
}
